<include file="Base:common-t" />
    <!--body-->
    <div class="content main-div " style="height:auto;">
    	<ol class="breadcrumb col-lg-12">
		  <li><a href="{:U('Index/index')}">首页</a></li>
		  <li class="active">数据表单</li>
		</ol>
		
    	<table class="table table-striped" id="tab">
        <tr>
        <th>表格</th>
        <th>表格类型</th>
        <th>创建时间</th>
        <th>最后更新时间</th>
        <th>校对字符集</th>
        <th>表单备注</th>
        <th>行格式</th>
        <th>数据量</th>
        <th>索引内存</th>
        <th>数据内存</th>
        <th>操作</th>
        </tr>
        <volist name="data" id="vo">
        <tr>
        <td>
        <a href="{:U('Data/tabdetail',array('name'=>$vo['name']))}">
        	{$vo.name}
        </a>
        </td>
        <td>{$vo.engine}</td>
        <td>{$vo.create_time}</td>
        <td>{$vo.update_time}</td>
        <td>{$vo.collation}</td>
        <td>{$vo.comment}</td>
        <td>{$vo.row_format}</td>
        <td>{$vo.rows}</td>
        <td>{$vo.index_length}</td>
        <td>{$vo.data_length}</td>
        <td>
        	<if condition="$vo.rows neq 0">
        	<a href="{:U('Data/truncate_tab',array('name'=>$vo['name']))}">
        	<button type="button" class="btn btn-danger btn-xs">清空表</button>
        	</a>
        	</if>
        	<a href="{:U('Data/delete_tab',array('name'=>$vo['name']))}">
        	<button type="button" class="btn btn-danger btn-xs">删除表</button>
        	</a>
        	<if condition="$vo.row_format eq Fixed">
        	<a href="{:U('Data/change_row_fom',array('name'=>$vo['name']))}">
        	<button type="button" class="btn btn-danger btn-xs">动态行替换</button>
        	</a>
        	</if>
        </td>
        </tr>
        </volist>
		</table>
		<a href="{:U('Data/addtab')}">
		<button type="button" name="add_td" class="btn btn-primary">创建新表格</button>
		</a>
    </div>
    <!--body-->
<include file="Base:common-f" />