<include file="Base:common-t" />
    <!--body-->
    <div class="content main-div " style="height:auto;width: 85%;">
    	<ol class="breadcrumb col-lg-12">
		  <li><a href="{:U('Index/index')}">首页</a></li>
		  <li><a href="{:U('Data/index')}">数据表单</a></li>
		  <li class="active">分表详情</li>
		</ol>
		<div class="row">
			<div class="col-lg-4">
				<form action="{:U('Data/tabdetail',array('name'=>$title))}" method="post">
			    <div class="input-group">
			      <span class="input-group-btn">
			       <select class="form-control" name="find" id="type" style="width:130px;">
						<volist name="name" id="vo">
			         	<option>{$vo}</option>
		         		</volist>
		    		</select>
		    		<select class="form-control" name="choose" id="type" style="width:108px;">
			         	<option>匹配搜索</option>
		         		<option>模糊搜索</option>
		    		</select>
		    		<input type="text" class="form-control " name="search">
			       	<button class="btn btn-primary" type="submit">搜索</button>
			      </span>
			    </div><!-- /input-group -->
			    </form>
			</div><!-- /.col-lg-6 -->
		</div>
		<h4>表：
			<a href="{:U('Data/tabdetail',array('name'=>$title))}">
			{$title}
			</a>
			<if condition="$search neq ''">
				<div align="center">
					<ul class="pagination">
						<li><a href="#">共查询到{$num}条结果</a></li>
						<!--<li><a href="{:U('Data/tabdetail',array('out'=>'out'))}">导出查询数据</a></li>-->
					</ul>
				</div>
			</if>
			<div align="right">
			<a href="{:U('Data/addfield',array('names'=>$title))}">
			<button type="button" class="btn btn-success">增加字段</button>
			</a>
			<a href="{:U('Data/adddetail',array('names'=>$title))}">
    		<button type="button" class="btn btn-success">增加值</button>
    		</a>
	    	</div>
	    	<small>字段过多的情况下,只截取前10个字段显示</small>
		</h4>
		<table class="table table-bordered" id="tab">
        <tr>
        <td>字段名称</td>
        <volist name="name" id="vo" offset="0" length="10">
			<td><strong>{$vo}</strong></td>
		</volist>
		<td>
			操作
		</td>
        </tr>
        <tr>
        <td>字段备注</td>
        <volist name="comment" id="vo1" offset="0" length="10">
			<td>{$vo1.备注}</td>
		</volist>
        </tr>
	    <volist name="data" id="vo2">
	    <tr>
	        <td>#值#</td>
	        <volist name="name" id="vo" offset="0" length="10">
	        <td>
	        	{$vo2.$vo}
	        </td> 
	        </volist>   
	        <td>
	        	<if condition="vo2.id eq ''">
	        	<button type="button" class="btn btn-success btn-xs">保存</button>
	        	<else />
	        	<a href="{:U('Data/adddetail',array('id'=>$vo2['id'],'names'=>$title))}">
	        	<button type="button" class="btn btn-success btn-xs">修改</button>
	        	</a>
	        	<!--<a href="{:U('Data/deletedata',array('id'=>$vo2['id'],'name'=>$title))}">
	        	<button type="button" class="btn btn-danger btn-xs">删除</button>
	        	</a>-->
	        	</if>
	        </td>
        </tr>
       </volist>
		</table>
		<div align="center">
		<ul class="pagination">
			<if condition="$search eq ''">
			<li><a href="#">当前在<strong>{$page}</strong>页</a></li>
			<li 
				<if condition="$page eq 1">
				 class="disabled"
				</if>
			>
				<a href="{:U('data/tabdetail',array('page'=>$page-1,'name'=>$title))}">&laquo;</a>
			</li>
			<volist name="al" id="vo" offset="$PREV" length="10">
				<li><a href="{:U('data/tabdetail',array('page'=>$vo,'name'=>$title))}">{$vo}</a></li>
			</volist>
			<li><a href="{:U('data/tabdetail',array('page'=>$page+1,'name'=>$title))}">&raquo;</a></li>
			<li><a href="#">共有{$num}条数据</a></li>
			</if>
		</ul>
		</div>
    	<br />
    	<div id="to_top" align="right">
    	<button type="button" class="btn btn-info btn-xs">
    		↑
    	</button>
   		</div>
   	</div>
    <script>
	window.onload = function(){
	  var oTop = document.getElementById("to_top");
	  var screenw = document.documentElement.clientWidth || document.body.clientWidth;
	  var screenh = document.documentElement.clientHeight || document.body.clientHeight;
	  oTop.style.left = screenw - oTop.offsetWidth +"px";
	  oTop.style.top = screenh - oTop.offsetHeight + "px";
	  window.onscroll = function(){
	    var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
	    oTop.style.top = screenh - oTop.offsetHeight + scrolltop +"px";
	  }
	  oTop.onclick = function(){
	    document.documentElement.scrollTop = document.body.scrollTop =0;
	  }
	}  
	//转到顶部的js代码
	</script>
    <!--body-->
<include file="Base:common-f" />