<include file="Base:common-t" />
    <!--body-->
    <div class="content main-div" style="height:auto">
    	<ol class="breadcrumb col-lg-12">
		  <li><a href="{:U('Index/index')}">首页</a></li>
		  <li class="active">公共平台</li>
		</ol>
    	<div class="content" style="width: 1200px">
  		<h3>内部公告<small>Internal announcement</small></h3> 
  		<h4>
  			{$com[0]['content']}
  		</h4>
		</div>
    	<div class="page-header" style="width:1000px;">
  		<h3>公司部门<small>Subtext for header</small></h3> 
  		<h4>1111</h4>
		</div>
    	
    	
    </div>
    <!--body-->
<include file="Base:common-f" />