<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="__IMG__/logo.png" />
		<load file="__CSS__/bootstrap.css" /> 
		<load file="__CSS__/bootstrap-theme.min.css" />
		<load file="__CSS__/login.css" />
		<load file="__CSS__/register.css" />
		<load file="__CSS__/index.css" /> 
		<load file="__CSS__/style.css" /> 
		<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
		<script type="text/javascript" src="__JS__/echarts.min.js"></script>
		<script type="text/javascript" src="__JS__/jquery.min.js"></script>
		<script type="text/javascript" src="__UPLOAD__/plupload.full.min.js"></script>
		<title>SOIL--系统外链</title>
	</head>
	<body>
