.left-style{
	width: 185px;
	height: 100%;
	margin-top:-50px;
	float: left;
}
.main-div{
	float: left;
	margin-left: 10px;
	margin-bottom: 50px;
}
.bs-docs-sidenav.affix {
		top: 40px;
	}

	/*  >表示第一个子元素  */
	.bs-docs-sidenav > li:first-child > a {
		-webkit-border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
	}
	.bs-docs-sidenav > li > a {
		display: block;
		width: 190px \9;
		margin: 0 0 -1px;
		padding: 8px 14px;
		border: 1px solid #e5e5e5;
	}

	.bs-docs-sidenav {
		width: 180px;
		margin: 30px 0 0;
		padding: 0;
		background-color: #fff;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
		-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
		box-shadow: 0 1px 4px rgba(0,0,0,.065);
	}

	.bs-docs-sidenav .icon-chevron-right {
		float: right;
		margin-top: 2px;
		margin-right: -6px;
		opacity: .25;
	}
	.navbar .nav > li .dropdown-menu {
		margin: 0;
	}
	.navbar .nav > li:hover .dropdown-menu {
		display: block;
	}
	.top-width{
		min-width: 80px;
	}
.index-div-main{
	height:100%;width: 100%;margin-top: -20px;margin-left: 10px;
}
.index-div{
	height:800px;float: left;
}
.upload-div{
	width: 720px;
	background-color: #F5F5F5;
	height: 60px;}
.message-div{
	width: 1100px;
	background-color: #F5F5F5;
	border: solid 1px #CCCCCC;
}
